<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} -->
<main class="wp-block-group">

    <!-- wp:pattern {"slug":"bean-and-brew/cafe-hero"} /-->
    <!-- wp:pattern {"slug":"bean-and-brew/cafe-story"} /-->
    <!-- wp:pattern {"slug":"bean-and-brew/cafe-menu"} /-->
    <!-- wp:pattern {"slug":"bean-and-brew/cafe-location"} /-->
    <!-- wp:pattern {"slug":"bean-and-brew/cafe-cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
